{% extends "admin/index.html" %}

{% block breadcrumbsbox %}
  <div class="ui basic segment noprint" style="margin-bottom: 0;">
      <div class="ui large breadcrumb" style="padding-left: 0.75rem;">
        <div class="section">
          <i class="red exclamation icon"></i><span class="red">Demo deployed on Google Cloud Run, and resets when a new container is instantiated</span><i class="red exclamation icon"></i>
        </div>
      </div>
    <div style="padding-left: 1rem;" class="section">
      Github: <a href="https://github.com/globophobe/django-semantic-admin">https://github.com/globophobe/django-semantic-admin</a>
    </div>
  </div>
  <div class="ui fitted divider"></div>
{% endblock %}
