{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block content_title %}<h1></h1>{% endblock %}

{% block breadcrumbsbox %}{% endblock %}

{% block content %}
<div id="content-main" class="ui grid">
  <div class="row">

  <div class="ten wide column">
  {% if app_list %}
    {% for app in app_list %}
      <div class="app-{{ app.app_label }} module">
      <table class="ui large fixed celled table">
      <thead>
        <tr>
          <th colspan="3">
            <a href="{{ app.app_url }}" title="{% blocktrans with name=app.name %}Models in the {{ name }} application{% endblocktrans %}">{{ app.name }}</a>
          </th>
        </tr>
      </thead>
      <tbody>
      {% for model in app.models %}
        <tr class="model-{{ model.object_name|lower }}">
        <td scope="row">
        {% if model.admin_url %}
          <a href="{{ model.admin_url }}">{{ model.name }}</a>
        {% else %}
          {{ model.name }}
        {% endif %}
        </td>

        {% if model.add_url %}
          <td><a href="{{ model.add_url }}" class="addlink">{% trans 'Add' %}</a></td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}

        {% if model.admin_url %}
          <td><a href="{{ model.admin_url }}" class="changelink">{% trans 'Change' %}</a></td>
        {% else %}
          <td>&nbsp;</td>
        {% endif %}
        </tr>
      {% endfor %}
      </tbody>
      </table>
      <br />
      </div>
    {% endfor %}
  {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
  {% endif %}
</div>

{% endblock %}

{% block sidebar %}
<div class="six wide column">
<div id="content-related" class="ui card">
    <div class="module" id="recent-actions-module">
        <div class="ui centered aligned header" style="margin-top: 0.5em;">
            {% trans 'Recent Actions' %}
        </div>
        {% load log %}
        {% get_admin_log 10 as admin_log for_user user %}
        {% if not admin_log %}
        <p>{% trans 'None available' %}</p>
        {% else %}
        {% for entry in admin_log %}
        <div class="content {% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}deletelink{% endif %}">
            <div class="right floated">
                {% if entry.is_deletion or not entry.get_admin_url %}
                    {{ entry.object_repr }}
                {% else %}
                    <a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
                {% endif %}
            </div>
            <div class="header">
                {% if entry.content_type %}
                    <span class="mini quiet">{% filter capfirst %}{{ entry.content_type }}{% endfilter %}</span>
                {% else %}
                    <span class="mini quiet">{% trans 'Unknown content' %}</span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>

</div>
</div>
</div>
{% endblock %}
</div>
