{% extends "semantic_forms/base.html" %}
{% load i18n static %}
{% block title %}{{ title }}{% endblock %}
{% block extrastyle %}
    <link rel="stylesheet"
          href="{% static "semantic_admin/semantic-admin.css" %}" />
    <style>
  html, body {
      margin: 0;
      overflow-x: hidden;
      position: fixed;
      width: 100%;
  }

  #container {
    min-height: calc(95vh);
  }

  #column {
    padding: 0;
  }

  #logged-out {
    max-width: 25rem;
    width: calc(100% - 2rem);
    margin: auto;
  }
    </style>
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% block content %}
    <div id="container" class="ui middle aligned grid">
        <div id="column" class="column">
            <div id="logged-out" class="ui centered card">
                <div class="content" style="background: #f3f4f5;">
                    <div class="header">{{ title }}</div>
                </div>
                <div class="content">
                    <p>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
                    <div class="password-reset-link">
                        <a href="{% url 'admin:index' %}">{% trans 'Log in again' %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
