{% extends "registration/password_reset_base.html" %}
{% load i18n semantic_filters %}
{% block password_reset_content %}
    {% if validlink %}
        <p>
            {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
        </p>
        <form class="ui form" method="post">
            {% csrf_token %}
            <div class="field{% if form.new_password1.errors %} error{% endif %}">
                <label for="id_new_password1">{% trans 'New password:' %}</label>
                {{ form.new_password1 }}
                {{ form.new_password1.errors|semantic_error_list }}
                {% if form.new_password1.help_text %}
                    <div class="help semantic-help-text">
                        {{ form.new_password1.help_text|semantic_help_text }}
                    </div>
                {% endif %}
            </div>
            <div class="field{% if form.new_password2.errors %} error{% endif %}">
                <label for="id_new_password2">{% trans 'Confirm password:' %}</label>
                {{ form.new_password2 }}
                {{ form.new_password2.errors|semantic_error_list }}
                {% if form.new_password2.help_text %}
                    <div class="help semantic-help-text">
                        {{ form.new_password2.help_text|semantic_help_text }}
                    </div>
                {% endif %}
            </div>
            <input class="ui primary button"
                   type="submit"
                   value="{% trans 'Change my password' %}" />
        </form>
    {% else %}
        <p>
            {% trans "The password reset link was invalid, possibly because it has already been used. Please request a new password reset." %}
        </p>
    {% endif %}
{% endblock %}
