{% extends "registration/password_reset_base.html" %}
{% load i18n semantic_filters %}
{% block password_reset_content %}
    <p>
        {% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}
    </p>
    <form class="ui form" method="post">
        {% csrf_token %}
        <div class="field{% if form.email.errors %} error{% endif %}">
            <label for="id_email" class="required">{% trans 'Email address:' %}</label>
            {{ form.email }}
            {{ form.email.errors|semantic_error_list }}
        </div>
        <input class="ui primary button"
               type="submit"
               value="{% trans 'Reset my password' %}" />
    </form>
{% endblock %}
