{% extends "semantic_forms/base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}
{% block extrastyle %}
    <style>
  html, body {
      margin: 0;
      overflow-x: hidden;
      position: fixed;
      width: 100%;
  }

  #container {
    min-height: calc(95vh);
  }

  #column {
    padding: 0;
  }

  #password-reset {
    max-width: 25rem;
    width: calc(100% - 2rem);
    margin: auto;
  }

  .semantic-help-text {
    margin-top: 0.25rem;
  }

  .semantic-help-text > .ui.bulleted.list,
  .semantic-error-list.ui.bulleted.list {
    margin-top: 0.25rem;
    margin-bottom: 0;
  }

  .semantic-error-list {
    color: #9f3a38;
  }

  .ui.error.message > .semantic-error-list {
    margin-top: 0;
  }
    </style>
{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% block content %}
    <div id="container" class="ui middle aligned grid">
        <div id="column" class="column">
            <div id="password-reset" class="ui centered card">
                <div class="content" style="background: #f3f4f5;">
                    <div class="header">{{ title }}</div>
                </div>
                <div class="content">
                    {% block password_reset_content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
