{% extends "admin/base_site.html" %}
{% load i18n %}
{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
    {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
{% block breadcrumbs %}
    <div class="ui large breadcrumb" style="padding-left: 1rem;">
        <a class="section" href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{% trans 'Password change' %}</div>
    </div>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}
    <div id="content-main">
        <p style="margin-left: 1rem;">{% trans 'Your password was changed.' %}</p>
    </div>
{% endblock %}
