{% extends "admin/base_site.html" %}
{% load i18n static semantic_filters %}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet"
          type="text/css"
          href="{% static "admin/css/forms.css" %}">
{% endblock %}
{% block userlinks %}
    {% url 'django-admindocs-docroot' as docsroot %}
    {% if docsroot %}
        <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
    {% endif %}
    {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}
{% block breadcrumbs %}
    <div class="ui large breadcrumb" style="padding-left: 1rem;">
        <a class="section" href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        <i class="right chevron icon divider"></i>
        <div class="active section">{% trans 'Password change' %}</div>
    </div>
{% endblock %}
{% block content %}
    <div id="content-main">
        <form class="ui form{% if form.errors %} error{% endif %}"
              method="post"
              novalidate>
            {% csrf_token %}
            <div>
                {% if form.errors %}
                    <div class="ui error message">
                        {% if form.errors.items|length == 1 %}
                            {% trans "Please correct the error below." %}
                        {% else %}
                            {% trans "Please correct the errors below." %}
                        {% endif %}
                    </div>
                {% endif %}
                <p style="margin-left: 1rem;">
                    {% trans 'Please enter your old password, for security’s sake, and then enter your new password twice so we can verify you typed it in correctly.' %}
                </p>
                {# <fieldset class="module aligned wide"> #}
                <div class="ui segment">
                    <div class="field field-old-password{% if form.old_password.errors %} error{% endif %}">
                        {{ form.old_password.label_tag }} {{ form.old_password }}
                        {{ form.old_password.errors|semantic_error_list }}
                    </div>
                    <div class="field field-new-password1{% if form.new_password1.errors %} error{% endif %}">
                        {{ form.new_password1.label_tag }} {{ form.new_password1 }}
                        {{ form.new_password1.errors|semantic_error_list }}
                        {% if form.new_password1.help_text %}
                            <div class="help semantic-help-text">
                                {{ form.new_password1.help_text|semantic_help_text }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="field field-new-password2{% if form.new_password2.errors %} error{% endif %}">
                        {{ form.new_password2.label_tag }} {{ form.new_password2 }}
                        {{ form.new_password2.errors|semantic_error_list }}
                        {% if form.new_password2.help_text %}
                            <div class="help semantic-help-text">
                                {{ form.new_password2.help_text|semantic_help_text }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                {# </fieldset> #}
                <div class="ui basic segment" style="margin-top: 0;">
                    <div class="ui form noprint">
                        <div class="equal width fields">
                            <div class="field">
                                <input class="ui fluid primary button"
                                       type="submit"
                                       value="{% trans 'Change my password' %}"
                                       class="default">
                            </div>
                            <div class="field"></div>
                            <div class="field"></div>
                            <div class="field"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
